<div id="signersBody">
    {{#if selectedCity}}
    <h1>The following awesome people from "{{city}}" came forward against the exploitation of social media.</h1>
    {{else}}
    <h1>The following awesome people came forward to battle against the exploitation of social media.</h1>
    {{/if}}
    <br>
    <div id="allSigners">
        {{#rows}}
            {{#if ../selectedCity}}
            <h2>✔️ {{first}} {{last}} | {{age}} </h2>
            {{else if url}}
            <h2>✔️ <a href="{{url}}" target="_blank">{{first}} {{last}}</a> | {{age}} | <a href="/signers/{{city}}">{{city}}</a></h2>
            {{else}}
            <h2>✔️ {{first}} {{last}} | {{age}} | <a href="/signers/{{city}}">{{city}}</a></h2>
            {{/if}}
        {{/rows}}
    </div>
</div>